@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
}

.img {
    vertical-align: bottom;
}

.beautyEssenceContainer {
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
}

.beautyEssenceContainer img {
    display: block;
    width: 100%;
}


/* contents mv */

.beautyVideoWrapper {
  position: relative;
}

.backimg {
  width: 100%;
}

.beautyMainVideo {
    position: absolute;
    top: 34.6%;
    left: 12.8%;
    width: 74.5%;
    z-index: 1;
}

/* cta */

.beautyCtaFrame {
  position: relative;
}

.beautyBaseLayer {
  width: 100%;
}

.beautySubscriptionBtn {
    position: absolute;
    top: 2.5%;
    left: 4.5%;
    display: inline-block;
    width: 90%;
}
.beautySubscriptionBtn img {
  transition: opacity 0.3s ease;
}

.beautySubscriptionBtn img:hover {
  opacity: 0.7;
}
.beautySinglePurchaseBtn {
    position: absolute;
    top: 3.5%;
    left: 4.5%;
    display: inline-block;
    width: 90%;
}
.beautySinglePurchaseBtn img {
  transition: opacity 0.3s ease;
}

.beautySinglePurchaseBtn img:hover {
  opacity: 0.7;
}


/* gif area */

.beautyAnimationContainer {
  position: relative;
}

.beautyFirstAnimation {
    position: absolute;
    width: 82% !important;
    top: 0;
    left: 9%;
    z-index: 1;
}
.beautySecondAnimation {
    position: absolute;
    width: 82% !important;
    bottom: 0;
    left: 9%;
    z-index: 1;
}
.beautyIngredientIcon {
    position: absolute;
    width: 23.6% !important;
    bottom: 24.1%;
    left: 3.5%;
    z-index: 2;
}


/*　test カルーセル　*/

.beautyFirstSliderr{
        width:100%;
    }
.beautyFirstSlider img{
        width: 100% !important;
}
.beautyFirstSlider .beautySwiperWrapper{
    transition-timing-function: linear;
   /* gap: 3%;*/
}

.beautyFirstSlider .beautySnsBackground {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.beautyFirstSlider .beautySwiperWrapper {
    position: relative;
}

.beautySecondSlider{
        width:100%;
    }
.beautySecondSlider img{
        width: 100% !important;
}
.beautySecondSlider .beautySwiperWrapper{
    transition-timing-function: linear;
    /*gap: 3%;*/
}

.beautySecondSlider .beautySnsBackground {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.beautySecondSlider .beautySwiperWrapper {
    position: relative;
}


/* accordion area*/

.beautyAccordion,
.beautyAccordion dd {
  margin: 0;
}

.beautyAccordion dt {
  cursor: pointer;
}

.beautyAccordion dt img {
  width: 100% !important;
  height: auto;
}

.beautyAccordion .beautyToggleBtn .beautyBtn {
  width: auto;
  top: 0;
  left: 0;
}

.beautyAccordion dd,
.beautyAccordion .beautyToggleBtn .beautyBtn.beautyClose {
  display: none;
}

.beautyAccordion .beautyToggleBtn.beautyExpanded .beautyBtn.beautyOpen {
  display: none !important;
}

.beautyAccordion .beautyToggleBtn.beautyExpanded .beautyBtn.beautyClose {
  display: inline !important;
}

.beautyToggleBtn {
  position: relative;
}

.beautyToggleBtn:hover {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.beautyAccordion .beautyBtn {
    padding: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.image-a {
  display: block;
}

.image-b {
    position: absolute;
    top: 0%;
    left: 0%;
}

/* tell area */

.beautyCallContainer {
	position: relative;

}

.beautyCallContainer .beautyCallBtn {
    position: absolute;
    width: 91%;
    bottom: 20.5%;
    left: 4.3%;
    z-index: 1;
}

/* オンマウス時に半透明にする */
.beautyCallBtn img {
  transition: opacity 0.3s ease;
}

.beautyCallBtn img:hover {
  opacity: 0.7;
}


@media (max-width: 768px) {
  .beautyCallBtn {
    pointer-events: auto;
  }
}

@media (min-width: 769px) {
  .beautyCallBtn {
    pointer-events: none;
  }
}


/* footer */

/* フッター全体 */
.beautyFooter {
  background-image: url("https://www.mh-lab.com/mh-lab_onesbouquet/images/onesbouquet_lp_bottom02_09.jpg");
  width: 100%;
  max-width: 768px;
  margin: 0 auto 10%;
  text-align: center;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* メニューのスタイル */
.beautyFooterMenu{
  margin-top:5%;
  max-width:768px;
}
.beautyFooterMenu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    gap:5%;
}

.beautyFooterMenu li {
  display: inline;
}

.beautyFooterMenu a {
  text-decoration: none;
  color: black;
  font-size: 3.5vw;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 750px) {
  .beautyFooterMenu a{
    font-size:17px;
  }
}
.beautyFooterMenu a:hover {
  text-decoration: none;
  opacity: 0.6;
}


.beautyFooterCopyright {
  margin-top: 10px;
  font-size: 3vw;
  color: #555;
}
@media screen and (min-width: 750px) {
  .beautyFooterCopyright{
    font-size:15px;
  }
}
